.fate-coin-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fate-spent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: grey;
}

.border{
    border: 1px solid darkslategray;
    min-height: 50px;
}

.grid{
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "fate title concept"
    "prim name skills"
    "prim ancestry skills"
    "prim boons skills"
    "prim align skills"
    "lang align skills"
    "diff diff diff";
}

.skill1{
    grid-area: skill1;
}
.skill2{
    grid-area: skill2;
}
.skill3{
    grid-area: skill3;
}
.s100{
    grid-area: s100;
}
.s110{
    grid-area: s110;
}
.s120{
    grid-area: s120;
}
.s130{
    grid-area: s130;
}
.s200{
    grid-area: s200;
}
.s210{
    grid-area: s210;
}
.s220{
    grid-area: s220;
}
.s230{
    grid-area: s230;
}
.s300{
    grid-area: s300;
}
.s310{
    grid-area: s310;
}
.s320{
    grid-area: s320;
}
.s330{
    grid-area: s330;
}

.skill-grid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
    "skill1 s110 s120 s130"
    "skill2 s210 s220 s230"
    "skill3 s310 s320 s330";
}

.skill-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid darkslategray;
}

.fate-block{
    grid-area: fate;
}
.title-block{
    grid-area: title;
    text-align: center;
}
.concept-block{
    grid-area: concept;
}
.primary-attributes-block{
    grid-area: prim;
}
.name-block{
    grid-area: name;
}
.ancestry-block{
    grid-area: ancestry;
}
.boons-banes-block{
    grid-area: boons;
}
.alignment-block{
    grid-area: align;
}
.skills-block{
    grid-area: skills;
}
.difficulty-block{
    grid-area: diff;
}
.languages-block{
    grid-area: lang;
}