.wrapper{
    background-color: white;
}

.charsheet{
    --dark:#585858;
    --mid:#C8C8C8;
    color:var(--dark);
}

.largedialog textarea {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    max-height: 100%;
    height: -webkit-fill-available;
    resize: none;
    margin: 0;
    padding: 5px;
}

.fate-coin-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:100%
}
.fate-coin-block>label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    border-top: 1px solid var(--dark);
    padding:0;
}
.fate-coin-block :last-child{
    border-left: 1px solid var(--dark);
}

.border input[type="text"]{
    width: 100%;
    padding: 1rem;
    margin: 0;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: var(--mid);
}

.border{
    border: 1px solid var(--dark);
    min-height: 50px;
}

.height100{
    height: 100%;
}

.grid{
    margin: 3rem;
    display: grid;
    grid-template-columns: 6fr 6fr 7fr;
    grid-template-areas: 
    "fate title concept"
    "prim name skills"
    "prim ancestry skills"
    "prim boons skills"
    "prim align skills"
    "lang align skills"
    "diff diff diff";
}
.grid > * {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.skill-sub-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:var(--dark);
    color:white;
}

.skill-group-ability{
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-left: 0;
}


.skill-grid{
    display: grid;
    grid-template-columns: 20fr 1fr 1fr 1fr 1fr;
    border-right: 1px solid var(--dark);
    padding-right: 1rem;
    column-gap: 1px;
    align-items: center;
}

.skill-group{
    display: flex;
    flex-direction:row;
    border-top: 1px solid var(--dark);
    height: -webkit-fill-available;
    padding: 1rem 0rem 1rem 0rem;
    align-items: stretch;
}
.hide-radio {
    opacity: 5%;
}
.hide-radio:hover{
    opacity: 100%;
}
.skill-unlock{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.fate-block{
    grid-area: fate;
}
.title-block{
    grid-area: title;
    text-align: center;
}
.concept-block{
    grid-area: concept;
}
.primary-attributes-block{
    grid-area: prim;
}
.attribute-name>h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    writing-mode: vertical-lr;
}
.attribute-container{
    display: grid;
    grid-template-columns: 8fr 8fr 1fr;
    align-items: center; 
    border-top: 1px solid var(--dark);
    padding:0 1rem 0 1rem;
}

.attribute-value-container{
    display: flex;
    flex-direction: column;
    padding:1rem;
}
.attribute-value{
    display: flex;
}
.attribute-value>label{
    display: flex;
    flex-direction: column;
}
.bonus-advancement-container{
    display: flex;
    flex-direction: column;
}

.name-block{
    grid-area: name;
}
.ancestry-block{
    grid-area: ancestry;
}
.boons-banes-block{
    grid-area: boons;
    display: flex;
    flex-direction: column;
}
.boons-banes-block>*>label{
    display: flex;
    padding-right: 0px;
    margin: 0px;
    flex-direction: column;
    text-align: center;
}

.alignment-block{
    grid-area: align;
    display: flex;
    flex-direction: column;
}

.align-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.sub-header{
    display: flex;
    background-color:var(--dark);
    color:white;
    padding: 1rem;
    text-align: center;
    justify-content: space-around;
}

.resonance-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--dark);
}

.ui-dialog .charsheet .resonance-container input{
    width: 50%;
    text-align: center;
}
.ui-dialog .charsheet .harmony input{
    width: 100%;
    margin: auto;
    height: 5rem;
    text-align: center;
}
.ui-dialog .charsheet .discord input{
    width: 100%;
    margin: auto;
    height: 5rem;
    text-align: center;
}

/*#region alignment-grid*/

/*#region grid-areas*/
.ha1{
    grid-area: ha1;
}
.ha2{
    grid-area: ha2;
}
.ha3{
    grid-area: ha3;
}
.ha4{
    grid-area: ha4;
}
.ha5{
    grid-area: ha5;
}
.ha6{
    grid-area: ha6;
}
.ha7{
    grid-area: ha7;
}
.ha8{
    grid-area: ha8;
}
.ha9{
    grid-area: ha9;
}
.ha10{
    grid-area: ha10;
}
.ha0{
    grid-area: ha0;
}
.di1{
    grid-area: di1;
}
.di2{
    grid-area: di2;
}
.di3{
    grid-area: di3;
}
.di4{
    grid-area: di4;
}
.di5{
    grid-area: di5;
}
.di6{
    grid-area: di6;
}
.di7{
    grid-area: di7;
}
.di8{
    grid-area: di8;
}
.di9{
    grid-area: di9;
}
.di10{
    grid-area: di10;
}
.revelation3{
    grid-area: r3;
}
.revelation5{
    grid-area: r5;
}
.revelation7{
    grid-area: r7;
}
.revelation9{
    grid-area: r9;
}
.revelation10{
    grid-area: r10;
}
.ho1{
    grid-area: ho1;
}
.ho2{
    grid-area: ho2;
}
.ho3{
    grid-area: ho3;
}
.ho4{
    grid-area: ho4;
}
.ho5{
    grid-area: ho5;
}
.ho6{
    grid-area: ho6;
}
.ho7{
    grid-area: ho7;
}
.ho8{
    grid-area: ho8;
}
.ho9{
    grid-area: ho9;
}
.ho10{
    grid-area: ho10;
}
.ho11{
    grid-area: ho11;
}
.ho12{
    grid-area: ho12;
}
.ho13{
    grid-area: ho13;
}
.ho14{
    grid-area: ho14;
}
.ve1{
    grid-area: ve1;
}
.ve2{
    grid-area: ve2;
}
.ve3{
    grid-area: ve3;
}
.ve4{
    grid-area: ve4;
}
.ve5{
    grid-area: ve5;
}
.ve6{
    grid-area: ve6;
}
.ve7{
    grid-area: ve7;
}
.ve8{
    grid-area: ve8;
}
.ve9{
    grid-area: ve9;
}
.ve10{
    grid-area: ve10;
}
.ve11{
    grid-area: ve11;
}
.ve12{
    grid-area: ve12;
}
.ve13{
    grid-area: ve13;
}
.ve14{
    grid-area: ve14;
}
.ve15{
    grid-area: ve15;
}
.ve16{
    grid-area: ve16;
}
.ve17{
    grid-area: ve17;
}
.ve18{
    grid-area: ve18;
}
.ve19{
    grid-area: ve19;
}
.ve20{
    grid-area: ve20;
}
.ve21{
    grid-area: ve21;
}
.ve22{
    grid-area: ve22;
}
/*#endregion*/

.rev{
    text-align: center;
}

.horizontal-line{
    border-top: 1px solid var(--dark);
    width: 100%;
    margin-top: 22%;
}
.vertical-line{
    border-left: 1px solid var(--dark);
    height: 100%;
    min-height: 1rem;
    margin-left: 50%;
}

.t-line{
    margin-top: auto;
    margin-bottom: 25%;
}

.left-num{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 25%;
}
.right-num{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 25%;
}

/* accidentaly skipped ve11
    TODO: reformat */

.alignment-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
    "ha2 ho1 ha1 ho2 ha0 ho3 di1 ho4 di2"
    "ve1 . . . ve2 . . . ve3"
    "ha3 ho5 ho5 r3 r3 r3 ho6 ho6 di3"
    "ve4 . . . ve5 . . . ve6"
    "ha4 . . . ve5 . . . di4"
    "ve7 . . . ve5 . . . ve8"
    "ha5 ho7 ho7 r5 r5 r5 ho8 ho8 di5"
    "ve9 . . . ve10 . . . ve12"
    "ha6 . . . ve10 . . . di6"
    "ve13 . . . ve10 . . . ve14"
    "ha7 ho9 ho9 r7 r7 r7 ho10 ho10 di7"
    "ve15 . . . ve16 . . . ve17"
    "ha8 . . . ve16 . . . di8"
    "ve18 . . . ve16 . . . ve19"
    "ha9 ho11 ho11 r9 r9 r9 ho12 ho12 di9"
    "ve20 . . . ve21 . . . ve22"
    "ha10 ho13 ho13 r10 r10 r10 ho14 ho14 di10";
    padding: 2rem;
    gap: 0.3rem;
    margin-bottom: auto;
    margin-top: auto;
}

.charsheet .alignment-grid label
{
    margin-bottom: 0px;
    display: flex;
    padding-right: 0px;
    text-align: center;
    flex-direction: column;
}

/*#endregion*/
.skills-block{
    grid-area: skills;
}
.difficulty-block{
    grid-area: diff;
}
.languages-block{
    grid-area: lang;
}

.the-rest{
    margin: 3rem;
}
.the-rest>*{
    margin: 1rem;
}
.combat-stats{
    display: flex;
}
.track-container{
    display: flex;
    align-items: center;
}
.track{
    display: flex;
}
.notesandgear-container{
    display: flex;
}
.talentsandtechniques-container{
    display: flex;
}
.talents{
    width: 100%;
}
.techniques{
    width: 100%;
}